<div class="bt-form">
	<div class="bt-w-main">
		<div class="bt-w-menu">
			<p class="bgw" onclick="pluginService('clean');">服务</p>
			<p onclick="pluginConfig('clean');">配置修改</p>
			<p onclick="pluginLogs('clean',null,'run_log');">运行日志</p>
			<p onclick="pRead()">说明</p>
		</div>
		<div class="bt-w-con pd15">
			<div class="soft-man-con"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
pluginService('clean');


function pRead(){
	var readme = '<ul class="help-info-text c7">';
    readme += '<li>启动后,加入到计划任务每隔3天[0:15]执行。</li>';
    readme += '<li>【*】代表要删除。</li>';
    readme += '<li>添加/删除清除日志，可在`配置修改`中添加/删除。</li>';
    readme += '<li>如果是目录,会寻找【.log】后缀的文件清空。</li>';
    readme += '</ul>';

    $('.soft-man-con').html(readme);   
}
</script>